@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lobster', sans-serif;
  overflow: hidden;

}

body {
  background: linear-gradient(to top, #00A6FF, #FFFFFF);
  height: 100vh;
}

.page {
  height: 100%;
}

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #FF3434;
  border-radius: 50px;

  z-index: -1;
}


.number {
  position: absolute;
  font-size: 2em;
  padding: 40px;
}

.buttons {

  button {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  .minus {
    transform: translateX(-200px);
  }
  .plus {
    transform: translateX(200px);
  }
  .reset {
    transform: translate(-250px, 50px);
    width: 40px;
    height: 40px;
  }
  .add-ten {
    transform: translate(-173px, 100px);
  }
  .add-hun {
    transform: translate(-100px, 173px);
  }
  .add-tho {
    transform: translateY(200px);
  }
  .add-ten-tho {
    transform: translate(100px, 173px);
  }
  .add-hun-tho {
    transform: translate(173px, 100px);
  }
}

.out-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  z-index: 100;
  background-color: rgba(0, 0, 255, 0.5);
}

.move-out {
  transform: translateY(-50vh);
  transition: cubic-bezier(0,-0.01,.57,.57) 0.3s;
}

.in-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  z-index: 100;
  background-color: rgba(0, 255, 0, 0.5);
  transform: translateY(-55vh);
}

.move-in {
  transform: translateY(+5vh);
  transition: cubic-bezier(0,-0.01,.57,.57) 0.3s;
}
