@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

$background: #F9FFE6; $start-color: #D6FF4C;
$h1-color: #FFFFFF; $h1-border-color: #000;
$number-color: #FFFFFF; $number-border-color: #000;
// Colori bottoni
$plus-minius-color: #FE00D4; $plus-minus-backg: #FF96EE;
$reset-color: #00ACFF; $reset-backg: #96DDFF;

$ten-color: #C400FF; $ten-backg: #E796FF;
$hun-color: #9000FF; $hun-backg: #D196FF;
$tho-color: #4A00FF; $tho-backg: #B596FF;
$ten-tho-color: #0009FF; $ten-tho-backg: #9296FF;
$hun-tho-color: #0076FF; $hun-tho-backg: #96C7FF;

$locked-color: #B2B2B2; $locked-backg: #EEEEEE;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Luckiest Guy', sans-serif;
  overflow: hidden;
}

body {
  background: $background;
  height: 100vh;
}

.page {
  height: 100%;
}

h1 {
  font-size: 4em;
  padding-top: 100px;
  color: $h1-color;
  text-shadow: -2.5px -2.5px 0 $h1-border-color,
                2.5px -2.5px 0 $h1-border-color,
               -2.5px 2.5px 0 $h1-border-color,
                2.5px 2.5px 0 $h1-border-color;
}

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  z-index: -1;
  background-color: $start-color;
}

.number {
  position: absolute;
  font-size: 2em;
  padding: 40px;
  color: $number-color;
  text-shadow: -2px -2px 0 $number-border-color,
                2px -2px 0 $number-border-color,
               -2px 2px 0 $number-border-color,
                2px 2px 0 $number-border-color;
}

.buttons {
  button {
    position: absolute;
    font-size: 1.5em;
  }

  .minus {
    color: $plus-minius-color;
    background-color: $plus-minus-backg;
    border: 4px solid $plus-minius-color;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    transform: translateX(-200px);
  }
  .plus {
    color: $plus-minius-color;
    background-color: $plus-minus-backg;
    border: 4px solid $plus-minius-color;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    transform: translateX(200px);
  }
  .reset {
    font-size: 1em;
    color: $reset-color;
    background-color: $reset-backg;
    border: 4px solid $reset-color;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: translate(-250px, 50px);
  }
  .add-ten {
    font-size: 1em;
    color: $ten-color;
    background-color: $ten-backg;
    border: 4px solid $ten-color;
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    transform: translate(-173px, 100px);
  }
  .add-hun {
    font-size: 1em;
    color: $hun-color;
    background-color: $hun-backg;
    border: 4px solid $hun-color;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    transform: translate(-100px, 173px);
  }
  .add-tho {
    font-size: 1em;
    color: $tho-color;
    background-color: $tho-backg;
    border: 4px solid $tho-color;
    width: 55px;
    height: 55px;
    border-radius: 27.5px;
    transform: translateY(200px);
  }
  .add-ten-tho {
    font-size: 1em;
    color: $ten-tho-color;
    background-color: $ten-tho-backg;
    border: 4px solid $ten-tho-color;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    transform: translate(100px, 173px);
  }
  .add-hun-tho {
    font-size: 1em;
    color: $hun-tho-color;
    background-color: $hun-tho-backg;
    border: 4px solid $hun-tho-color;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    transform: translate(173px, 100px);
  }
}

.out-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  z-index: -1;
  background-color: $start-color;
}

.move-out {
  transform: translateY(-50vh);
  transition: cubic-bezier(0,-0.01,.57,.57) 0.3s;
}

.in-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  z-index: -1;
  background-color: $start-color;
  transform: translateY(-55vh);
}

.move-in {
  transform: translateY(+3.5vh);
  transition: cubic-bezier(0,-0.01,.57,.57) 0.3s;
}

.locked {
  color: $locked-color !important;
  background-color: $locked-backg !important;
  border: 4px solid $locked-color !important;
}


// Mobile
@media only screen and (max-width: 480px) and (orientation: landscape) {
  html {
   transform: rotate(-90deg);
   transform-origin: left top;
   width: 100vh;
   overflow-x: hidden;
   position: absolute;
   top: 100%;
   left: 0;
  }

  h1 {
    font-size: 2em;
    padding-top: 100px;
  }
  .number {
    font-size: 1.75em;
  }
  .buttons {
    .minus {
      transform: translate(-50px, 180px);
    }
    .plus {
      transform: translate(50px, 180px);
    }
    .reset {
      transform: translate(-150px, -100px);
    }
    .add-ten {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      transform: translate(-100px, 230px);
    }
    .add-hun {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      transform: translateY(230px);
    }
    .add-tho {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      transform: translate(100px, 230px);
    }
    .add-ten-tho {
      font-size: 0.75em;
      width: 60px;
      height: 60px;
      border-radius: 30px;
      transform: translate(-50px, 300px);
    }
    .add-hun-tho {
      font-size: 0.75em;
      width: 60px;
      height: 60px;
      border-radius: 30px;
      transform: translate(50px, 300px);
    }
  }
}
